
@import url('bootstrapmin.css');
@import url('bootstrap-responsive.min.css');

/* New styles below */

label.valid {
  width: 24px;
  height: 24px;
  background: url(../img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
		box-shadow: 0px 0px 0px 1px #AE005F;
		border:2px solid #AE005F;
	}