<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>DigitalDocServlet</servlet-name>
    <servlet-class>com.digitaldoc.DigitalDocServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdfSerca</servlet-name>
    <servlet-class>com.digitaldoc.CreatePdfServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>resource</servlet-name>
    <servlet-class>com.digitaldoc.model.Resource</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>display</servlet-name>
    <servlet-class>com.digitaldoc.model.Display</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.digitaldoc.model.UploadPost</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Serve</servlet-name>
    <servlet-class>com.digitaldoc.model.Serve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serve</servlet-name>
    <url-pattern>/serve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resource</servlet-name>
    <url-pattern>/resource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DigitalDocServlet</servlet-name>
    <url-pattern>/digitalDoc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfSerca</servlet-name>
    <url-pattern>/pdfSerca</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>